Repository spontoreau/mediateur: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix

👷 Add GitHub Action workflows
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/shared-workflow.yml
  package.json
Due: prettier --write --ignore-unknown

👷 Add GitHub Action workflows (#6)
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/shared-workflow.yml
  package.json
Due: prettier --write --ignore-unknown

📝 Add CI badge
  README.md
Due: none

👷 Update Cucumber report configuration
  cucumber.js
Due: prettier --write --ignore-unknown, eslint --fix

👷 Update Cucumber report configuration (#7)
  cucumber.js
Due: prettier --write --ignore-unknown, eslint --fix

📝 Add Code of Conduct
  README.md
Due: none

📝 Fix license name and links
  LICENSE
  README.md
Due: none

✨ Add newMessage function
  src/core/newMessage.ts
  src/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

👷 Set version to beta
  .github/workflows/release.yml
  data.json
  new-package.json
Due: prettier --write --ignore-unknown

👷 Pack, Upload and download artifact
  .github/workflows/release.yml
  .github/workflows/shared-workflow.yml
  package.json
Due: prettier --write --ignore-unknown

👷 Add application version step
  .github/scripts/getVersion.js
  .github/workflows/release.yml
Due: prettier --write --ignore-unknown, eslint --fix

🚀 Publish package
  .github/workflows/release.yml
  new-package.json
  package.json
Due: prettier --write --ignore-unknown

🐛 Fix TData constraint
  src/core/message.ts
Due: prettier --write --ignore-unknown, eslint --fix

🔥 Remove useless files
  data.json
  new-package.json
Due: prettier --write --ignore-unknown

🚚 Rename newMessage to getMessageBuilder
  src/core/getMessageBuilder.ts
  src/core/newMessage.ts
  src/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

👷 Add release job
  .github/workflows/release.yml
  package.json
Due: prettier --write --ignore-unknown

♻️ Change Message Type from symbol to string
  src/core/mediator.steps.ts
  src/core/mediator.ts
  src/core/message.ts
  src/mediateur.world.ts
Due: prettier --write --ignore-unknown, eslint --fix

👷 Enable beta deployment
  .github/workflows/release.yml
Due: none

✨ Add publish function
  package-lock.json
  package.json
  src/core/mediator.feature
  src/core/mediator.steps.ts
  src/core/mediator.ts
  src/core/multipleHandlersMessage.error.ts
  src/mediateur.world.ts
Due: prettier --write --ignore-unknown, eslint --fix

✨ Add the clear utility function
  src/core/mediator.ts
  src/index.ts
  src/setupTest.ts
Due: prettier --write --ignore-unknown, eslint --fix

🔥 Remove getMessageBuilder
  src/core/getMessageBuilder.ts
Due: prettier --write --ignore-unknown, eslint --fix

✅ Reorganize tests
  package.json
  src/core/mediator.feature
  src/core/mediator.steps.ts
  src/core/mediator.ts
  src/specs/mediateur.world.ts
  src/specs/publish.feature
  src/specs/publish.steps.ts
  src/specs/send.feature
  src/specs/send.steps.ts
  src/specs/setupTest.ts
  src/specs/shared.steps.ts
Due: prettier --write --ignore-unknown, eslint --fix

✨ Add global message handler middlewares
  .vscode/settings.json
  package-lock.json
  package.json
  src/core/mediator.ts
  src/core/messageHandlerMiddleware.ts
  src/specs/mediateur.world.ts
  src/specs/use.feature
  src/specs/use.steps.ts
Due: prettier --write --ignore-unknown, eslint --fix

♻️ Extract middleware part in a dedicated module
  src/core/mediator.ts
  src/core/messageHandlerMiddleware.ts
  src/core/middlewares.ts
  src/specs/mediateur.world.ts
  src/specs/use.steps.ts
Due: prettier --write --ignore-unknown, eslint --fix

♻️ Reorganize code
  src/core/errors/multipleHandlersMessage.error.ts
  src/core/errors/unknownMessage.error.ts
  src/core/mediator.ts
  src/core/middlewares.ts
  src/specs/publish.steps.ts
  src/specs/send.steps.ts
Due: prettier --write --ignore-unknown, eslint --fix

✨ Use middlewares for a message type
  src/core/mediator.ts
  src/core/middlewares.ts
  src/specs/mediateur.world.ts
  src/specs/use.feature
  src/specs/use.steps.ts
Due: prettier --write --ignore-unknown, eslint --fix

🐛 Fix hasMiddlewares function
  src/core/middlewares.ts
Due: prettier --write --ignore-unknown, eslint --fix

✨ Use middlewares for a specific handler
  src/core/middlewares.ts
  src/specs/mediateur.world.ts
  src/specs/use.feature
  src/specs/use.steps.ts
Due: prettier --write --ignore-unknown, eslint --fix

🐛 Fix clear function
  src/core/middlewares.ts
Due: prettier --write --ignore-unknown, eslint --fix

✨ Add cache
  src/core/middlewares.ts
  src/specs/use.feature
  src/specs/use.steps.ts
Due: prettier --write --ignore-unknown, eslint --fix

🐛 Fix missing Middleware type export
  src/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

💚 Fix release
  .github/workflows/release.yml
Due: none

👷 Reorganize release workflow
  .github/workflows/release.yml
Due: none

📝 Update README.md with contributing section
  README.md
Due: none

📝 Add getting started section
  README.md
Due: none

✅ Switch to node:test
  .github/workflows/shared-workflow.yml
  cucumber.js
  package-lock.json
  package.json
  src/core/mediator.test.ts
  src/specs/mediateur.world.ts
  src/specs/publish.feature
  src/specs/publish.steps.ts
  src/specs/send.feature
  src/specs/send.steps.ts
  src/specs/setupTest.ts
  src/specs/shared.steps.ts
  src/specs/use.feature
  src/specs/use.steps.ts
Due: prettier --write --ignore-unknown, eslint --fix

💚 Fix package version step
  .github/workflows/release.yml
Due: none

♻️ Improve error messages
  src/core/errors/multipleHandlers.error.ts
  src/core/errors/multipleHandlersMessage.error.ts
  src/core/errors/unknownMessage.error.ts
  src/core/mediator.test.ts
  src/core/mediator.ts
Due: prettier --write --ignore-unknown, eslint --fix

🐛 Remove chain cache. It creates inconsistent execution issues
  src/core/middlewares.ts
Due: prettier --write --ignore-unknown, eslint --fix

✨ Using a middleware for multiple message types
  .eslintignore
  src/core/mediator.test.ts
  src/core/middlewares.ts
Due: prettier --write --ignore-unknown, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: *.{js,ts,json}
  eslint --fix: any of: *.{js,ts}
