Repository spontoreau/mediateur: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix

✨ Using a middleware for multiple message types (#25)
  .eslintignore
  src/core/mediator.test.ts
  src/core/middlewares.ts
Due: prettier --write --ignore-unknown, eslint --fix

📄 Update license
  LICENSE
Due: none

📄 Update license (#27)
  LICENSE
Due: none

✨ Get registered message types from mediator
  src/core/mediator.test.ts
  src/core/mediator.ts
Due: prettier --write --ignore-unknown, eslint --fix

✨ Get registered message types from mediator (#29)
  src/core/mediator.test.ts
  src/core/mediator.ts
Due: prettier --write --ignore-unknown, eslint --fix

✨ Add Metadata
  src/core/mediator.test.ts
  src/core/mediator.ts
  src/core/metadata.ts
  src/core/middlewares.ts
Due: prettier --write --ignore-unknown, eslint --fix

✨ Add Metadata (#33)
  src/core/mediator.test.ts
  src/core/mediator.ts
  src/core/metadata.ts
  src/core/middlewares.ts
Due: prettier --write --ignore-unknown, eslint --fix

⬆️ Upgrade dev dependencies
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

⬆️ Upgrade dev dependencies (#34)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

➕ Add biome
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

🚨 Fix lint and format
  src/core/errors/multipleHandlers.error.ts
  src/core/errors/unknownMessage.error.ts
  src/core/mediator.test.ts
  src/core/mediator.ts
  src/core/message.ts
  src/core/messageHandler.ts
  src/core/messageResult.ts
  src/core/middlewares.ts
  src/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

➖ Remove eslint & prettier
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

👷 Update CI actions
  .github/workflows/release.yml
  .github/workflows/shared-workflow.yml
Due: none

♻️ Use biome instead of eslint & prettier (#35)
  .lintstagedrc
  package-lock.json
  package.json
  src/core/errors/multipleHandlers.error.ts
  src/core/errors/unknownMessage.error.ts
  src/core/mediator.test.ts
  src/core/mediator.ts
  src/core/message.ts
  src/core/messageHandler.ts
  src/core/messageResult.ts
  src/core/middlewares.ts
  src/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

🔧 Switch to ESM
  package.json
  tsconfig.json
Due: prettier --write --ignore-unknown

⬆️ Upgrade chai and sinon
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

🔧 Switch moduleResolution to nodenext
  src/core/mediator.test.ts
  src/core/mediator.ts
  src/core/messageHandler.ts
  src/core/messageResult.ts
  src/core/middlewares.ts
  src/index.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix

🔧 Add .nvmrc
  .nvmrc
Due: none

🔧 Switch to pnpm and upgrade dev dependencies
  .eslintignore
  .eslintrc
  .gitignore
  .lintstagedrc
  .prettierignore
  .prettierrc
  biome.jsonc
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/core/errors/multipleHandlers.error.ts
  src/core/errors/unknownMessage.error.ts
  src/core/mediator.test.ts
  src/core/mediator.ts
  src/core/message.ts
  src/core/messageHandler.ts
  src/core/messageResult.ts
  src/core/middlewares.ts
  src/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

♻️ Update GH workflow
  .DS_Store
  .github/workflows/shared-workflow.yml
Due: none

🙈 update .gitignore
  .github/workflows/shared-workflow.yml
  .gitignore
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

♻️ Switch to pnpm & upgrade dependencies (#38)
  .DS_Store
  .eslintignore
  .eslintrc
  .github/workflows/shared-workflow.yml
  .gitignore
  .lintstagedrc
  .nvmrc
  .prettierignore
  .prettierrc
  biome.jsonc
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/core/errors/multipleHandlers.error.ts
  src/core/errors/unknownMessage.error.ts
  src/core/mediator.test.ts
  src/core/mediator.ts
  src/core/message.ts
  src/core/messageHandler.ts
  src/core/messageResult.ts
  src/core/middlewares.ts
  src/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

🗑️ Remove useless file
  .DS_Store
Due: none

Path conditions:
  prettier --write --ignore-unknown: any of: *.{js,ts,json}
  eslint --fix: any of: *.{js,ts}
